<p>error-page works!</p>

<ul>
  <li>
    <a routerLink="/auth/login">Ir Login</a>
  </li>
  <li>
    <a routerLink="/auth/registro">Ir a registro</a>
  </li>

  <!-- <li>
    <a routerLink="/heroes/listado">Ir a Listado Heroes</a>
  </li>
  <li>
    <a routerLink="/heroes/agregar">Ir a agregar Heroes</a>
  </li>

  <li>
    <a [routerLink]="['/heroes/editar',123]">Ir a editar Heroes</a>
  </li>
  <li>
    <a routerLink="/heroes/buscar">Ir a buscar Heroes</a>
  </li>
  <li>
    <a routerLink="/heroes/buscar">Ir a buscar Heroes Id</a>
  </li> -->

</ul>
